:global {
    .swim-skill{
        height: 100vh;
        display: flex;
        .submenu-wrap{
            width:220px;
        }
        .show-wrap{
            width: calc(100% - 220px);
            padding: 0 20px;
            box-sizing: border-box;
        }
    }
}